


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header, footer {
    background-color: #2b2b2b;
    color: #ffffff;
    text-align: center;
    padding: 1em;
}

footer{
    display: flex;
    justify-content: center;
}

main {
    padding: 2em;
}

